body{
	margin: 0;
	background-color: #f1f2f6;
}


#kuang{
	position: absolute;
	height: 180px;
	width: 300px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #f1f2f6;
	border: 3px solid #dfe4ea;
	border-radius: 10px;
}


#TypeFace{
	font-size: 15px; 
	padding-left: 20px; 
	padding-right: 20px;
	padding-top: 10px;
	color: #636e72;
}

#wenbenkuang{
	position: absolute;
	width: 200px;
	left:50%;
	transform: translateX(-50%);
}

#SendButton{
	position: absolute;
	top: 130px;
	left: 50%;
	transform: translateX(-50%);
	border: 2px solid #dfe4ea;
	border-radius: 10px;
	color: #636e72;
}